*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: rgb(50, 50, 90);

}

.contactform
{
    width: 40%;
    padding: 40px;
    background: #fff;
    
}

form{
    background-color: #fff;
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    background-color: #fff;
}

.contactform .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
}

.contactform .inputBox input,
.contactform .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background-color: #fff;
}

.contactform .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    background-color: #fff;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span,
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
}
.box1{
    background: rgb(50, 50, 90);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box1 p{
    margin-top: 15px;
}